<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Satria Apps"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Menu"></activity>
        <activity android:name=".ActivityFibonacci"></activity>
        <activity android:name=".ActivityHello"></activity>
        <activity android:name=".Scrollingicecold"></activity>
        <activity android:name=".pesan.ActivityPesan2"></activity>
        <activity android:name=".pesan.ActivityPesan1"></activity>
        <activity android:name=".alarm.ActivityAlarm"></activity>
        <activity android:name=".ActivityCount"></activity>

        <activity android:name=".fragment.ViewPagerActivity"></activity>

        <activity android:name=".fragment.sinopsis.SinopsisAction1"></activity>
        <activity android:name=".fragment.sinopsis.SinopsisAction2"></activity>

        <activity android:name=".fragment.sinopsis.SinopsisComedy1"></activity>
        <activity android:name=".fragment.sinopsis.SinopsisComedy2"></activity>

        <activity android:name=".fragment.sinopsis.SinopsisRomance1"></activity>
        <activity android:name=".fragment.sinopsis.SinopsisRomance2"></activity>

    </application>
</manifest>